{# Origin: wxt_bootstrap/templates/block/block--system-menu-block--main.html.twig #}
{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<nav role="navigation" {{ attributes.addClass('navigation-bar').removeClass('clearfix')|without('role', 'aria-labelledby') }}>
  <div class="container">
    <section class="navigation__items">
      <div class="branding">
        <a href="{{ path('<front>') }}" class="to-the-homepage">
          <img class="logo" src="{{ images_path  ~ 'logo-header.svg' }}" alt="Impact Canada Home">
          <span class="sr-only">Impact Canada</span>
        </a>
        <a class="mobile-menu-bars visible-xs" id="toggle-menu"><i class="fas fa-bars" aria-hidden=""></i> &nbsp;Menu</a>
      </div>
      {% block content %}
        {{ content }}
      {% endblock %}
    </section>
  </div>
</nav>
